# Geocoding in Geopandas

It is possible to do [geocoding in Geopandas](http://geopandas.org/geocoding.html) using its integrated functionalities of geopy. Geopandas has a function called `geocode()` that can geocode a list of addresses (strings) and return a GeoDataFrame containing the resulting point objects in ``geometry`` column. 

Nice, isn't it! Let's try this out.

We will geocode addresses stored in a text file called `addresses.txt`. The addresses are located in the Helsinki Region in Southern Finland.

The first rows of the data look like this:

```
id;addr
1000;Itämerenkatu 14, 00101 Helsinki, Finland
1001;Kampinkuja 1, 00100 Helsinki, Finland
1002;Kaivokatu 8, 00101 Helsinki, Finland
1003;Hermannin rantatie 1, 00580 Helsinki, Finland
```

We have an `id` for each row and an address on column `addr`.

-  Let's first read the data into a Pandas DataFrame using the `read_csv()` -function:

In [12]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.0.0-py3-none-any.whl (111 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0

WARNING: You are using pip version 20.0.2; however, version 20.2 is available.
You should consider upgrading via the 'c:\users\oefel\appdata\local\programs\python\python38-32\python.exe -m pip install --upgrade pip' command.

In [13]:
import pandas as pd
import geopy

fp = "data/addresses.txt"

data = pd.read_csv(fp, sep=";")

- Let's check that we imported the file correctly:

In [3]:
len(data)

34

In [5]:
#checking for empty rows at the end
data.tail()

      id                                           addr
29  1030    Siltasaarenkatu 16, 00530 Helsinki, Finland
30  1031  Urho Kekkosen katu 1, 00100 Helsinki, Finland
31  1032    Ruoholahdenkatu 17, 00101 Helsinki, Finland
32  1033     Tyynenmerenkatu 3, 00220 Helsinki, Finland
33  1034          Vilhonkatu 4, 00101 Helsinki, Finland

## Geocode addresses using Nominatim

Now we have our data in a Pandas DataFrame and we can geocode our addresses using the [geopandas geocoding function](http://geopandas.org/reference/geopandas.tools.geocode.html#geopandas-tools-geocode). `geopandas.tools.geocode` uses `geopy` package in the background. 

- Let's import the geocoding function and geocode the addresses (column `addr`) using Nominatim. 
- Remember to provide a custom string (name of your application) in the user_agent parameter.
- If needed, you can add the `timeout`-parameter which specifies how many seconds we will wait for a response from the service.

In [7]:
from geopandas.tools import geocode

In [14]:
geo = geocode(data['addr'], provider="Nominatim", user_agent="autogis_EO", timeout=4)

In [15]:
geo

,geometry,address
0,POINT (24.91556 60.16320),"Ruoholahti, 14, Itämerenkatu, Ruoholahti, Läns..."
1,POINT (24.93169 60.16902),"Kamppi, 1, Kampinkuja, Kamppi, Eteläinen suurp..."
2,POINT (24.94168 60.16996),"Bangkok9, 8, Kaivokatu, Keskusta, Kluuvi, Etel..."
3,POINT (24.97407 60.19560),"Hermannin rantatie, Kyläsaari, Hermanni, Helsi..."
4,POINT (24.92160 60.15665),"Hesburger, 9, Tyynenmerenkatu, Jätkäsaari, Län..."
5,POINT (25.08893 60.23708),"Kontulantie, Kontula, Mellunkylä, Helsinki, He..."
6,POINT (25.11087 60.22178),"Itäväylä, Vartioharju, Vartiokylä, Helsinki, H..."
7,POINT (25.03316 60.27779),"3-5, Tapulikaupungintie, Tapulikaupunki, Suuta..."
8,POINT (25.02912 60.26363),"Sompionpolku, Tapanila, Tapaninkylä, Helsinki,..."
9,POINT (24.87197 60.22244),"5, Atomitie, Pitäjänmäen teollisuusalue, Pitäj..."
10,POINT (24.93985 60.17038),"Rautatientori, 2, Kaivokatu, Keskusta, Kluuvi,..."
11,POINT (24.88421 60.23050),"Kuparitie, Lassila, Haaga, Läntinen suurpiiri,..."
12,POINT (24.87700 60.23974),"Rumpupolku, Kannelmäki, Kaarela, Läntinen suur..."
13,POINT (24.94801 60.22179),"K-Supermarket Mustapekka, 1, Mäkitorpantie, Pa..."
14,POINT (25.01303 60.25134),"15, Malminkaari, Ala-Malmi, Malmi, Helsinki, H..."
15,POINT (24.89418 60.21722),"23, Kylätie, Etelä-Haaga, Haaga, Läntinen suur..."
16,POINT (24.86678 60.25174),"Malminkartanontie, Malminkartano, Kaarela, Län..."
17,POINT (24.96566 60.22982),"Oulunkylän tori, Patola, Oulunkylä, Helsinki, ..."
18,POINT (24.93435 60.19857),"6, Ratapihantie, Itä-Pasila, Pasila, Helsinki,..."
19,POINT (24.86084 60.22402),"Pizza Benitto, 15, Pitäjänmäentie, Reimarla, P..."
20,POINT (24.99362 60.24365),"K-Market Pukinmäki, 2, Eskolantie, Pukinmäki, ..."
21,POINT (25.02063 60.24355),"Tattariharjuntie, Ala-Malmi, Malmi, Helsinki, ..."
22,POINT (25.07835 60.20982),"Danske Bank, 1, Tallinnanaukio, Itäkeskus, Var..."
23,POINT (25.13686 60.20703),"Tyynylaavantie, Keski-Vuosaari, Vuosaari, Hels..."
24,POINT (25.07478 60.22531),"Myllypurontie, Myllypuro, Vartiokylä, Helsinki..."
25,POINT (25.10697 60.23915),"Mellunmäenraitio, Vesala, Mellunkylä, Helsinki..."
26,POINT (24.96142 60.18779),"Vaasanpolku, Harju, Alppiharju, Helsinki, Hels..."
27,POINT (25.02817 60.19442),"Alko Herttoniemi Hertta, 2, Hiihtäjäntie, Läns..."
28,POINT (25.00681 60.18872),"Metro Kulosaari, 2, Ukko-Pekan porras, Kulosaa..."
29,POINT (24.94953 60.17943),"Nissen Optikko, 16, Siltasaarenkatu, Siltasaar..."
30,POINT (24.93312 60.16909),"Kampin keskus, 1, Urho Kekkosen katu, Kamppi, ..."
31,POINT (24.92520 60.16489),"Ruoholahdenkatu, Hietalahti, Kamppi, Eteläinen..."
32,POINT (24.92119 60.15890),"Easy Cycles, 3, Tyynenmerenkatu, Jätkäsaari, L..."
33,POINT (24.94709 60.17191),"Oluthuone Kaisla, 4, Vilhonkatu, Keskusta, Klu..."

And Voilà! As a result we have a GeoDataFrame that contains our original
address and a 'geometry' column containing Shapely Point -objects that
we can use for exporting the addresses to a Shapefile for example.
However, the ``id`` column is not there. Thus, we need to join the
information from ``data`` into our new GeoDataFrame ``geo``, thus making
a **Table Join**.

<div class="alert alert-info">

**Rate-limiting**

When geocoding a large dataframe, you might encounter an error when geocoding. In case you get a time out error, try first using the `timeout` parameter as we did above (allow the service a bit more time to respond). In case of Too Many Requests error, you have hit the rate-limit of the service, and you should slow down your requests. To our convenience, GeoPy provides additional tools for taking into account rate limits in geocoding services. This script adapts the usage of [GeoPy RateLimiter](https://geopy.readthedocs.io/en/stable/#geopy.extra.rate_limiter.RateLimiter) to our input data:

```
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from shapely.geometry import Point

# Initiate geocoder
geolocator = Nominatim(user_agent='autogis_xx')

# Create a geopy rate limiter:
geocode_with_delay = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# Apply the geocoder with delay using the rate limiter:
data['temp'] = data['addr'].apply(geocode_with_delay)

# Get point coordinates from the GeoPy location object on each row:
data["coords"] = data['temp'].apply(lambda loc: tuple(loc.point) if loc else None)

# Create shapely point objects to geometry column:
data["geometry"] = data["coords"].apply(Point)
```
All in all, remember that Nominatim is not meant for super heavy use. 
</div>

## Table join

<div class="alert alert-info">

**Table joins in pandas**
    
For a comprehensive overview of different ways of combining DataFrames and Series based on set theory, have a look at pandas documentation about [merge, join and concatenate](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).


</div>


Table joins are really common procedures when doing GIS analyses. As you might remember from our earlier lessons, combining data from different tables based on common
**key** attribute can be done easily in Pandas/Geopandas using the [.merge()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) -function. We used this approach in the geo-python course [exercise 6](https://geo-python.github.io/2018/lessons/L6/exercise-6.html#joining-data-from-one-dataframe-to-another).

However, sometimes it is useful to join two tables together based on the **index** of those DataFrames. In such case, we assume
that there is **same number of records** in our DataFrames and that the **order of the records should be the same** in both DataFrames.
In fact, now we have such a situation as we are geocoding our addresses where the order of the geocoded addresses in ``geo`` DataFrame is the same
as in our original ``data`` DataFrame.

Hence, we can join those tables together with ``join()`` -function which merges the two DataFrames together
based on index by default.

In [17]:
join = geo.join(data)
join.head()

,geometry,address,id,addr
0,POINT (24.91556 60.16320),"Ruoholahti, 14, Itämerenkatu, Ruoholahti, Läns...",1000,"Itämerenkatu 14, 00101 Helsinki, Finland"
1,POINT (24.93169 60.16902),"Kamppi, 1, Kampinkuja, Kamppi, Eteläinen suurp...",1001,"Kampinkuja 1, 00100 Helsinki, Finland"
2,POINT (24.94168 60.16996),"Bangkok9, 8, Kaivokatu, Keskusta, Kluuvi, Etel...",1002,"Kaivokatu 8, 00101 Helsinki, Finland"
3,POINT (24.97407 60.19560),"Hermannin rantatie, Kyläsaari, Hermanni, Helsi...",1003,"Hermannin rantatie 1, 00580 Helsinki, Finland"
4,POINT (24.92160 60.15665),"Hesburger, 9, Tyynenmerenkatu, Jätkäsaari, Län...",1005,"Tyynenmerenkatu 9, 00220 Helsinki, Finland"

In [ ]:
join.crs

- Let's also check the data type of our new ``join`` table.

In [22]:
type(join)

geopandas.geodataframe.GeoDataFrame

As a result we have a new GeoDataFrame called ``join`` where we now have
all original columns plus a new column for ``geometry``. **Note!** If you would do the join the other way around, i.e. `data.join(geo)`, the output would be a pandas DataFrame, not a GeoDataFrame!

-  Now it is easy to save our address points into a Shapefile

In [24]:
outfp = "data/addresses.shp"
join.to_file(outfp)

That's it. Now we have successfully geocoded those addresses into Points
and made a Shapefile out of them. Easy isn't it!

### Notes about Nominatim

Nominatim works relatively nicely if you have well defined and well-known addresses such as the ones that we used in this tutorial. In practice, the address needs to exist in the OpenStreetMap database. Sometimes, however, you might want to geocode a "point-of-interest", such as a museum, only based on it's name. If the museum name is not on OpenStreetMap, Nominatim won't provide any results for it, but you might be able to geocode the place using some other geocoder such as the [Google Geocoding API (V3)](https://developers.google.com/maps/documentation/geocoding/), which requires an API key. [Take a look from past year's materials where we show how to use Google Geocoding API](https://automating-gis-processes.github.io/2016/Lesson3-geocoding.html#geocoding-in-geopandas) in a similar manner as we used Nominatim here.